.image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.ol {
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgb(212, 1, 23);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	min-width: 40;
}

.recipe {
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgb(212, 1, 23);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	min-width: 20;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
}
